# coding app's project files
.idea
.vscode
.DS_Store


# Go testing output
*.out
*.test
profile*.pdf


# binary executables
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/*/*.exe
# Executables in root (from go build)
main_*
test_*
# Test binary, built with `go test -c`
*.test


# config with real username, password...
config/*ignore*.sh
config/.env*
